body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #cf8feb;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.title {
    text-align: center;
    margin-bottom: 20px;
}

#apodContainer img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

#apodContainer h3 {
    text-align: center;
    margin-top: 10px;
}

#apodContainer p {
    text-align: justify;
    margin-top: 10px;
}
